*.pyc
*.swp
*.iml
.DS_Store
.android_config
.gclient*
.gradle
.idea
.cproject
.project
.recipe_deps/
.settings/
.win_toolchain/
TAGS
bower_components
imgui.ini
out


common
buildtools
third_party/externals

bin/gn
bin/gn.exe
bin/clang-format
bin/clang-format.exe
bin/sk
bin/sk.exe
bin/sk.version

node_modules
tools/lottiecap/filmstrip.png

bazel-*
cmake-build-debug
cmake-build-release
